{% extends "base.html" %}
{% block form %}
<div class="row">
    <div class="col">
        <form method="POST" action="{{url_for('submit')}}">
            <div class="form-row">
                <div class="col-12 mt-3">
                    <div class="col"><input type="text" class="form-control" name="query" placeholder="Type anything about plant characteristic"></div>
                    <div class="col-auto"><button type="submit" class="btn btn-primary">Confirm</button></div>
                </div>
            </div>
            <div>
                <table width="1000">
                    <thead>
                        <tr><td align="center"></td>
                            <th colspan="2">    Example</th>
                        </tr>
                    </thead>
                    <tr><td align="center"></td>
                        <th>Scientific name</th>
                        <th>Description</th>
                    </tr>
                    <tr><td align="center"></td>
                        <td>Beilschmiedia erythrophloia</td>
                        <td>midrib slightly impressed above, leaves 7.0 cm long</td>
                    </tr>
                    <tr><td align="center"></td>
                        <td>Lindera glauca</td>
                        <td>fertile stamens 2 mm long, inflorescences 5-10-flowered</td>
                    </tr>
                    <tr><td align="center"></td>
                        <td>Lindera erythrocarpa</td>
                        <td>leaves alternate, 4.2 mm long in female flowers</td>
                    </tr>
                    <tr><td align="center"></td>
                        <td>Litsea elongata var. mushaensis</td>
                        <td>staminate umbels, staminate umbels nearly sessile</td>
                    </tr>
                    <tr><td align="center"></td>
                        <td>Phoebe formosana</td>
                        <td>glabrous above, anthers introrse</td>
                    </tr>
                    <tr><td align="center"></td>
                        <td>Neolitsea aciculata var. variabillima</td>
                        <td>inflorescences 5-flowered, with persistent tepals</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}